@charset "UTF-8";

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    -ms-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
    -ms-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    -ms-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    -ms-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
.flipInY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@-webkit-keyframes takeoff {
    0% {
      opacity:1;
      -webkit-transform:translate(0px,0px);
      transform:translate(0px,0px);
    }

    25% {
      -webkit-transform:translate(0px,0px);
      transform:translate(0px,0px);
    }

    100% {
      opacity:0;
      -webkit-transform:translate(0px,-600px);
      transform:translate(0px,-600px);
    }
}
@keyframes takeoff {
    0% {
      opacity:1;
      -webkit-transform:translate(0px,0px);
      transform:translate(0px,0px);
    }

    25% {
      -webkit-transform:translate(0px,0px);
      transform:translate(0px,0px);
    }

    100% {
      opacity:0;
      -webkit-transform:translate(0px,-600px);
      transform:translate(0px,-600px);
    }
}
/*.rocket {
  position:absolute;
  top:50%;
  left:50%;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -23px;
  opacity:0;
  -webkit-animation:takeoff 2s ease-in;
  animation:takeoff 2s ease-in;
}*/

@font-face {
  font-family: 'et-line';
  src:url('../fonts/et-line.eot');
  src:url('../fonts/et-line.eot?#iefix') format('embedded-opentype'),
    url('../fonts/et-line.woff') format('woff'),
    url('../fonts/et-line.ttf') format('truetype'),
    url('../fonts/et-line.svg#et-line') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-search, .icon-shield, .icon-telescope, .icon-gears, .icon-lightbulb, .icon-tools, .icon-tools-2, .icon-magnifying-glass, .icon-linegraph, .icon-beaker, .icon-profile-male, .icon-globe, .icon-hazardous, .icon-global, .icon-lifesaver, .icon-aperture, .icon-quote, .icon-scope, .icon-refresh {
  font-family: 'et-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
}

.icon-search:before {
  content: "\e007";
}
.icon-shield:before {
  content: "\e022";
}
.icon-telescope:before {
  content: "\e02a";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-tools:before {
  content: "\e033";
}
.icon-tools-2:before {
  content: "\e034";
}
.icon-magnifying-glass:before {
  content: "\e037";
}
.icon-linegraph:before {
  content: "\e039";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-globe:before {
  content: "\e045";
}
.icon-hazardous:before {
  content: "\e04f";
}
.icon-global:before {
  content: "\e052";
}
.icon-lifesaver:before {
  content: "\e054";
}
.icon-aperture:before {
  content: "\e056";
}
.icon-quote:before {
  content: "\e057";
}
.icon-scope:before {
  content: "\e058";
}
.icon-refresh:before {
  content: "\e05a";
}

#video-bg {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow:hidden;
  /*background-color:#fdce0b;*/
  background-repeat:no-repeat;
  background-position-y:80px;
  background-size:cover;
  box-shadow: inset 0px -30px 30px -20px rgba(0, 0, 0, 0.5);
}

/*#video-bg > video {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
}*/

/* 1. No object-fit support: */
/*@media (min-aspect-ratio: 16/9) {
#video-bg > video {
  height:300%;
  top:-100%;
}
}

@media (max-aspect-ratio: 16/9) {
#video-bg > video {
  width:300%;
  left:-100%;
}
}*/

/* 2. If supporting object-fit, overriding (1): */
/*@supports ((-o-object-fit: cover) or (object-fit: cover)) {
#video-bg > video {
  top:0;
  left:0;
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
}
}*/

.preloader-title {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  top: 45%;
  width: 100%;
  background-color: #041f43;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.title-min {
  display: none;
}

i.fa.fa-angle-down {
  font-size: 40px;
  text-shadow: 0 1px 2px #000;
}

.greedy-jumbotron {
  height:100vh;
  background: -webkit-radial-gradient(#f7eb11, #fdce0b);
}

/*.shadow-title {
  text-shadow:2px 2px 8px #000;
}

.shadow-subtitle {
  text-shadow:1px 1px 2px #000;
}*/

.welcome-text {
  margin:0;
  font-size:24px;
}

.fa-rocket {
  color:#fff;
  padding:0;
  border-radius:50% 50%;
  background-color:#222;
  box-shadow:0 0 10px #fff;
  letter-spacing:0;
  font-size:48px;
  height:72px;
  width:72px;
  padding:12px 12px 12px 8px;
}

.about-body {
  text-align:justify;
  padding:0 10px;
  margin-bottom:20px;
}

i .fa .fa-angle-down {
  font-size:40px;
}

.hs-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

h3.font-alt.mb-20 {
  border-bottom: 1px dotted;
}

.divider-w {
  border-top: 1px solid #bbb;
  position: relative;
  z-index: 999;
}

.caption-content {
  position:relative;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  padding-bottom: 4em;
}

.btn.btn-border-w {
  background:rgba(255,255,255,0.3);
  border:1px solid rgba(0,0,0,.75);
  color:#000!important;
}

.pricing-top {
  padding:50px 0;
  background-position: 50% 50%;
  background-size: cover;
}

.features-top {
  padding:50px 0;
  background-position: initial;
  background-size: contain;
}

.features-top-body {
  padding:30px 0;
  /*box-shadow: inset 0 25px 15px -20px rgba(0,0,0,.75);*/
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:cover;
}

.features-body {
  text-align:justify;
  font-size:18px;
}

/*.design_01_sm, .horizon_sm, .quote_sm, .structure_03_sm{
  background: url(http://static.ussgaia.com/images/sprites.jpg) no-repeat;

}*/

/*.design_01_sm{
  background-position: 0 0;
  background-size: cover;
  width: 1600px;
  height: 250px;
}

.structure_03_sm{
  background-position: 0 -250px;
  background-size: cover;
  width: 1600px;
  height: 250px;
}

.horizon_sm{
  background-position: 0 -500px;
  background-size: cover;
  width: 1600px;
  height: 280px;
}

.quote_sm{
  background-position: 0 -780px;
  background-size: cover;
  width: 1600px;
  height: 320px;
}*/

.design-bg {
  background: #424242;
  background: -webkit-linear-gradient(#fdce0b, #f7eb11);
/*  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#bdbdbd));
  background: -webkit-linear-gradient(top,  #424242 0%,#bdbdbd 100%);
  background: linear-gradient(to bottom,  #424242 0%,#bdbdbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#bdbdbd',GradientType=0 );*/
}

.struct-bg {
  background: #bdbdbd;
  background: -webkit-linear-gradient(#f7eb11, lightyellow);
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdbdbd), color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,  #bdbdbd 0%,#fafafa 100%);
  background: linear-gradient(to bottom,  #bdbdbd 0%,#fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#fafafa',GradientType=0 );*/
}

.drop-box {
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 6px 0 rgba(0,0,0,0.75);
  padding:20px;
  background-color:rgba(255,255,255,0.95);
}

.drop-box-pricing {
  font-family: 'Droid Sans', sans-serif;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 6px 0 rgba(0,0,0,0.75);
  padding:0;
  background-color:rgba(255,255,255,0.95);
}

.drop-box-contact {
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 6px 0 rgba(0,0,0,0.75);
  padding:20px;
  background-color:rgba(255,255,255,0.3);
}

.trans-design-top {
  padding:15px 0;
  background-color:rgba(0,0,0,0.75);
}

.trans-design-top-clear {
  padding:15px 0;
}

.module-white-font {
  color:#fff;
}

.module-subtitle-mod {
  padding:0 5%;
  color:#fff;
}

.struct-title-margin {
  margin:0;
}

.hab-li-width li {
  width: 20%;
}

.hab-li-width li:last-child {
  display:none;
}

.plat-li-width li {
  width: 25%;
}

.beyond-li-width li {
  width: 33.33%;
}

.beyond-li-width li:last-child {
  display:none;
}

.tab-pane {
  font-size:18px;
}

.tab-pane > span {
  font-size: 100px;
  color: #1BB4E6;
  text-shadow: 1px 1px 3px #999;
  position: absolute;
  opacity: 0.2;
  bottom: 70px;
  right: 45px;
}

.nav-tabs {
  border-bottom:none;
}

.nav-tabs>li>a {
  margin-right:2px;
  margin-left:2px;
  border-radius:4px 4px 0 0;
  border: 1px solid #ddd;
  color: #555;
}

.nav-tabs>li {
  border-bottom:1px solid #d3d3d3;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
  background-color:#eee;
  border-bottom:1px solid #1BB4E6;
  color: #111;
  text-shadow: none;
}

.nav-tabs>li.active>a>span {
  color:#1BB4E6;
}

.nav-tabs>li>a>span {
  font-size:16px;
  text-shadow: 1px 1px 1px #aaa;
}

.nav-tabs>li>a:focus,.nav-tabs>li>a:hover {
  background-color: #AAE1EF;
  color: #fff;
  text-shadow: 1px 1px 1px #aaa;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.team-image {
  border-radius: 50%;
  box-shadow: 0 0 10px 2px;
}

.out-ds {
  z-index: 1;
}

.out-ds::before {
  position: absolute;
  background: transparent;
  width: 110%;
  height: 100%;
  content: '';
  top: 0;
  box-shadow: 0 0 100px 10px #000;
  -webkit-box-shadow: 0 0 20px 0px #000;
  -moz-box-shadow: 0 0 100px 10px #000;
}

.press-img{
  width: 100%;
}

.bottom-aligner {
  display: inline-block;
  vertical-align: bottom;
}

a.more-link {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 48px;
  padding-top: 14px;
  text-align: center;
  width: 100%;
  border: 1px solid transparent;
  border-top: 1px solid #eeeeee;
}

.link-hover-dark:hover {
  color: #444;
}

.more-link:hover {
  color: #444;
  background-color: #eee;
  border-radius: 0 0 3px 3px;
  border: 1px solid #aaa;
  box-shadow: inset 0 3px 6px -3px #444;
}

.contact-box-fix {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border:1px solid #aaa;
}

.form-control:focus {
  border-color: #666;
}

.contact-success {
  display:none;
}

.navbar-social-links {
  font-size:14px;
}

.navbar-social-links a {
  float:left;
  padding: 2px 6px 2px 12px !important;
}

.navbar-social-links > .gap-fix {
  padding-left: 9px !important;
}

.navbar-social-links > a:nth-child(1):hover {
  color: #dd4b39 !important;
}

.navbar-social-links > a:nth-child(2):hover {
  color: #007bb6 !important;
}

.navbar-social-links > a:nth-child(3) {
  clear: left;
}

.navbar-social-links > a:nth-child(3):hover {
  color: #3b5998 !important;
}

.navbar-social-links > a:nth-child(4):hover {
  color: #00aced !important;
}

.footer-social-links {
  font-size:24px;
  height: 48px;
  text-align: justify;
  min-width: 192px;
  margin: 0 60px;
}

.footer-social-links a {
  width: 48px;
  height: 48px;
  text-align: center;
}

.footer-social-links:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.footer-social-links a:nth-child(1):hover {
  color: #dd4b39 !important;
}

.footer-social-links a:nth-child(2):hover {
  color: #007bb6 !important;
}

.footer-social-links a:nth-child(3):hover {
  color: #3b5998 !important;
}

.footer-social-links a:nth-child(4):hover {
  color: #00aced !important;
}

p.align-center.font-alt {
  margin: 0;
  font-size: 12px;
}

.card-stack-1 {
  position:relative;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 8px 0 rgba(0,0,0,0.25);
  padding:20px;
  background-color:#fff;
}

.card-stack-1:before {
  content:"";
  position:absolute;
  z-index:-1;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.25);
  background-color:#f3f3f3;
  -webkit-transform:rotate(-2deg);
  -ms-transform:rotate(-2deg);
  transform:rotate(-2deg);
  top:0;
  left:-6px;
  height:100%;
  width:100%;
}

.card-stack-1:after {
  content:"";
  position:absolute;
  z-index:-1;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 1px 6px 0 rgba(0,0,0,0.25);
  background-color:#f9f9f9;
  -webkit-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  transform:rotate(3deg);
  top:1px;
  left:3px;
  height:100%;
  width:100%;
}

.card-stack-2 {
  position:relative;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 8px 0 rgba(0,0,0,0.25);
  padding:20px;
  background-color:#fff;
}

.card-stack-2:before {
  content:"";
  position:absolute;
  z-index:-1;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.25);
  background-color:#f3f3f3;
  -webkit-transform:rotate(1deg);
  -ms-transform:rotate(1deg);
  transform:rotate(1deg);
  top:7px;
  left:10px;
  height:100%;
  width:100%;
}

.card-stack-2:after {
  content:"";
  position:absolute;
  z-index:-1;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 1px 6px 0 rgba(0,0,0,0.25);
  background-color:#f9f9f9;
  -webkit-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  transform:rotate(-3deg);
  top:1px;
  left:5px;
  height:100%;
  width:100%;
}

.card-stack-3 {
  position:relative;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 8px 0 rgba(0,0,0,0.25);
  padding:20px;
  background-color:#fff;
}

.card-stack-3:before {
  content:"";
  position:absolute;
  z-index:-1;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.25);
  background-color:#f3f3f3;
  -webkit-transform:rotate(1deg);
  -ms-transform:rotate(1deg);
  transform:rotate(1deg);
  top:-3px;
  left:-8px;
  height:100%;
  width:100%;
}

.card-stack-3:after {
  content:"";
  position:absolute;
  z-index:-1;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 1px 6px 0 rgba(0,0,0,0.25);
  background-color:#f9f9f9;
  -webkit-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  transform:rotate(-3deg);
  top:-2px;
  left:0;
  height:100%;
  width:100%;
}

/*NEW CUSTOM FOR MaMaM*/

/*PRICING $$$*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/*Shared properties*/
.title{
  border-bottom: 1px solid #ddd;
}
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2;
    position: relative;
    margin: 0;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}

/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.pt-footer,a {
  color: white;
  margin: 0;
}
.content:after,.pt-footer:after {
    border-color: rgba(136, 183, 213, 0);   
    border-width: 5px;
    margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 3rem;
    position: absolute;
    top: 20px;
    left: -20px;
}
.price sub {
  font-size: 125%;
}
.hint{
    font-style: italic;
    font-size: 1.5rem;
}
.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 1.5rem;
    margin: 0;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 1.75rem;
    text-transform: capitalize;
}

/*PERSONAL*/
.personal .title{        
    background: #78CFBF;    
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
.personal .content:after{   
    border-top-color: #82DACA;  
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}

/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content:after{   
    border-top-color: #53CFE9;  
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}

/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{   
    border-top-color: #EB6379;  
}
.business .pt-footer:after {    
    border-top-color: #FFFFFF;  
}
/*$$$ END*/

.navbar-transparent {
  box-shadow: initial;
}

.module-title-m0 {
  margin: 0 !important;
}

.bg-light {
  background: #fdce0b;
}

.bg-blue {
  background: #041f43;
  color: white;
  /*box-shadow: inset 0px 8px 10px -6px rgba(0, 0, 0, 0.75);*/
}

.sk-circle {
  margin: -10px 0 0 -50px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #ed2724;
  border-radius: 50%;
  padding: 0px;
  top: 45%;
  left: 50%;
  border: 3px solid white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card-stack-header {
  position:relative;
  border:1px #d3d3d3 solid;
  border-radius:3px;
  box-shadow:0 2px 8px 0 rgba(0,0,0,0.25);
  padding:20px;
  background-color: rgba(255,255,255,0.85);
  margin: 1em;
  color: #222;
}

.about {
  background-repeat: repeat;
  background-position: initial;
  background-size: initial;
}

/*END NEW*/

@media (max-width: 1199px) {
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
  margin-left: -30px;
}

.navbar-custom .navbar-brand {
  font-size: 18px;
}

.hab-li-width li {
  width: 33.33%;
  padding-top: 5px;
}

.hab-li-width li:last-child {
  display: block;
  border-right: 1px solid #d3d3d3;
  height: 48px;
  width: 33%;
}

.plat-li-width li {
  width: 50%;
  padding-top: 5px;
}
}

@media (min-width: 992px) {
.team-pad {
  padding: 0 10% !important;
}
}

@media (max-width: 991px) {
/*.title-full {
  display:none;
}

.title-min {
  display: block;
}*/

.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
}

/*.navbar-custom .navbar-brand {
  font-size: 22px;
}*/

.team-pad {
  padding: 0px 25%;
}

.beyond-li-width li {
  width: 50%;
  padding-top: 5px;
}

.beyond-li-width li:last-child {
  display: block;
  border-right: 1px solid #d3d3d3;
  height: 48px;
  width: 49.75%;
}

.fa-rocket {
  font-size:38px;
  height:60px;
  width:60px;
  padding:10px 10px 10px 6px;
}
}

@media (min-width: 768px) {
.team-pad {
  padding:0 10%;
}

.navbar-nav>li {
  border-right:1px solid rgba(255,255,255,0.2);
}

.navbar-right {
  border-left:1px solid rgba(255,255,255,0.2);
}

.navbar-transparent {
  background:#041f43;
  border-bottom:1px #000 solid;
  box-shadow: initial;
}
}

@media (max-width: 767px) {
.title-full {
  display:block;
}

.title-min {
  display:none;
}

.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

.video-768 {
  display:none;
}

.video-bg {
  background-position-y: 50px !important;
}

.caption-content {
  padding-bottom: 2em;
}

.navbar-collapse {
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2);
}

.navbar-nav>li {
  border-right:none;
}

.navbar-right {
  border-left:none;
}

.navbar-custom li a,.navbar-custom .dropdown-search {
  line-height:27px;
  border-bottom:1px solid rgba(255,255,255,0.2)!important;
  padding: 10px 30px;
}

.navbar-social-links {
  font-size:20px;
  height: 48px;
  text-align: justify;
  min-width: 192px;
}

.navbar-social-links a {
  width: 25%;
  height: 48px;
  text-align: center;
  padding: 10px 15px !important;
}

.navbar-social-links:after {
  content: '';
  width: 100%;
}

.navbar-social-links > a:nth-child(1) {
  color: #dd4b39 !important;
  border-right: 1px solid rgba(255, 255, 255, 0.2) !important; 
}

.navbar-social-links > a:nth-child(2) {
  color: #007bb6 !important;
  border-right: 1px solid rgba(255, 255, 255, 0.2) !important; 
}

.navbar-social-links > a:nth-child(3) {
  clear: none;
}

.navbar-social-links > a:nth-child(3) {
  color: #3b5998 !important;
  border-right: 1px solid rgba(255, 255, 255, 0.2) !important; 
}

.navbar-social-links > a:nth-child(4) {
  color: #00aced !important;
  border-right: none !important;
}

.navbar-social-links > .gap-fix {
  padding-left: 15px !important;
}

.fa-rocket {
  font-size:28px!important;
  height:42px!important;
  width:42px!important;
  padding:7px 8px 8px 6px!important;
}

.about {
  padding:80px 0;
}

.module-title {
  margin:0 0 20px;
}

.tab-pane > span {
  font-size: 80px;
  bottom: 30px;
}

.testimonial-text {
  font-size: 14px;
}

.footer-social-links {
  margin: 0 30px;
}

.footer-social-links a {
  padding: 0;
}

.footer-social-links a:nth-child(1) {
  color: #dd4b39 !important;
}

.footer-social-links a:nth-child(2) {
  color: #007bb6 !important;
}

.footer-social-links a:nth-child(3) {
  color: #3b5998 !important;
}

.footer-social-links a:nth-child(4) {
  color: #00aced !important;
}

ul.icon-list {
  font-size: 16px;
}

.widget {
  margin-bottom: 30px;
}

.widget p {
  font-size: 16px;
}
}

@media (max-width: 685px) {
.hab-li-width li {
  width: 50%;
  padding-top: 5px;
}

.hab-li-width li:last-child {
  display: block;
  border-right: 1px solid #d3d3d3;
  height: 48px;
  width: 49.75%;
}

.beyond-li-width li {
  width: 100%;
  padding-top: 5px;
}

.beyond-li-width li:last-child {
  display:none;
}
}

@media (max-width: 575px) {
.plat-li-width li {
  width: 100%;
  padding-top: 5px;
}
}

@media (max-width: 479px) {
.navbar-custom .navbar-brand {
  letter-spacing:2px;
  font-size:16px;
}

.nav-tabs>li {
  width: 100% !important;
}

.hab-li-width li:last-child {
  display:none;
}

.large-text {
  font-size:18px !important;
}

.footer-social-links {
  margin: 0 15px;
}
}